<!DOCTYPE html>

<html lang="en" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <title>index2.html : /home/TaodongQTD0410/mysite/templates/index2.html : Editor : TaodongQTD0410 : PythonAnywhere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="index2.html : /home/TaodongQTD0410/mysite/templates/index2.html : Editor : TaodongQTD0410 : PythonAnywhere">
        <meta name="author" content="PythonAnywhere LLP">
        <meta name="google-site-verification" content="O4UxDrfcHjC44jybs2vajc1GgRkTKCTRgVzeV6I9V14" />


        <!-- Le styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" />

        <link rel="stylesheet" href="/static/CACHE/css/faac220b5784.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/CACHE/css/a5c0829f431b.css" type="text/css" /><link rel="stylesheet" href="/static/CACHE/css/298a764407a8.css" type="text/css" media="screen" />

        <!-- Le javascript -->
        <script type="text/javascript">
            var Anywhere = {};
            Anywhere.urls = {};
            Anywhere.csrfToken = "BoRivHaNAhogUY208yZzPlg3JPTICwSmqSzRmBRq0FLq4gukbbH2ZMPgo0O1IVqK";
        </script>
        <script type="text/javascript" src="/static/CACHE/js/efd0f9224b4c.js"></script>
        

        <script type="text/javascript" src="/static/CACHE/js/e07c50c173a8.js"></script>
        
    <script type="text/javascript">
      $(document).ready(function() {
        $.extend(Anywhere.urls, {
          file: "/user/TaodongQTD0410/files/home/TaodongQTD0410/mysite/templates/index2.html",
          check_hash: "/user/TaodongQTD0410/files/home/TaodongQTD0410/mysite/templates/index2.html",
          update_editor_mode_preference: "/user/TaodongQTD0410/account/update_editor_mode_preference",
          console_api: "/api/v0/user/TaodongQTD0410/consoles/",
        });
        var filename = "/home/TaodongQTD0410/mysite/templates/index2.html";
        var hash = "20f9d84c8289151f616d5435ee040b3b";
        var interpreter = "None";

        
            Anywhere.Editor.InitialiseAce(ace, Anywhere.urls, filename, hash, interpreter);
            $("#id_keybinding_mode_select").val("normal");
            $("#id_keybinding_mode_select").trigger("change");
        
        var consoleVisible = false;
        Anywhere.Editor.splitPanes(consoleVisible);

        Anywhere.WebAppControl.initialize();
        Anywhere2.initializeFileSharingOptions(
          $('#id_file_sharing_options')[0],
          {
            url: "/api/v0/user/TaodongQTD0410/files/sharing/",
            csrfToken: "BoRivHaNAhogUY208yZzPlg3JPTICwSmqSzRmBRq0FLq4gukbbH2ZMPgo0O1IVqK",
            path: "/home/TaodongQTD0410/mysite/templates/index2.html"
          }
        );

      });
    </script>

        

        <!-- Le fav and touch icons -->
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">



    </head>

     <body style="height:100%;">
       <div style="min-height: 100%; position: relative;">
        
  




  <nav class="navbar navbar-default fullscreen-main-navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img id="id_logo" src="/static/anywhere/images/PA-logo-snake-only.svg" height="100%" />
      </a>
    </div>

    <div class="extra-nav-content">
      

  <div id="id_editor_toolbar">

    <div class="pull-left">
      <span id="id_breadcrumbs_div"><a class="breadcrumbs_link breadcrumb_entry" href="/user/TaodongQTD0410/files/">/</a><a class="breadcrumbs_link breadcrumb_entry" href="/user/TaodongQTD0410/files/home">home</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/TaodongQTD0410/files/home/TaodongQTD0410">TaodongQTD0410</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/TaodongQTD0410/files/home/TaodongQTD0410/mysite">mysite</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/TaodongQTD0410/files/home/TaodongQTD0410/mysite/templates">templates</a><span class="breadcrumb_entry">/</span><wbr><span class="breadcrumb_entry breadcrumb_terminal">index2.html</span></span>

      <span>
        <span id="id_unsaved_changes_spacer">
          <span id="id_unsaved_changes" class="pa_hidden muted">(unsaved changes)</span>
        </span>
      </span>
    </div>

    <div id="id_editor_messages" class="pull-left">
      

    </div>

    <div class="pull-right">
      <div id="id_editor_buttons_right" class="form-inline">
        <span id="id_save_error" class="pa_hidden alert alert-danger">Error saving.</span>
        <img src="/static/anywhere/images/spinner-small.gif" class="pa_hidden" id="id_save_spinner" />
        
          <span id="id_keyboard_shortcuts"><a href="#">Keyboard shortcuts:</a></span>
          <select id="id_keybinding_mode_select" class="form-control input-sm">
            <option value="normal">Normal</option>
            <option value="vim">Vim</option>
          </select>
        
        <button id="id_display_sharing_options" class="btn btn-default" data-toggle="modal" data-target="#id_file_sharing_modal" title="Get a URL to share this file">
          <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
          Share
        </button>
        
          <button id="id_save" class="btn btn-success" title="Save (Ctrl + S)">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            Save
          </button>
          <button id="id_save_as" class="btn btn-default" title="Save As">Save as...</button>
        
        

        
          
            <form class="reload_web_app" style="display: flex" method="POST" action="/user/TaodongQTD0410/webapps/TaodongQTD0410.pythonanywhere.com/reload">
              <button class="btn btn-default" type="submit" title="Reload TaodongQTD0410.pythonanywhere.com">
                <i class="glyphicon glyphicon-refresh"></i>
              </button>
              <img style="display: none;" class="spinner" src="/static/anywhere/images/spinner-small.gif" />
              <div style="display: none; clear: both;" class="alert alert-danger error_message generic_error">
                There was a problem. If this keeps happening, please <a href="" class="feedback_link">send us feedback</a>.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message slow_startup_error">
                Your webapp took a long time to reload. It probably reloaded, but we were unable to check it.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message virtualenv_error">
                There is a problem with your virtualenv setup. Look at the <b>virtualenv</b> section on the web app tab for details.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message cname_error">
                There is a problem with your DNS configuration. Take a look at the <b>DNS setup</b> section on the web app tab for details.
              </div>
            </form>
          
        
      </div>
    </div>

  </div>


    </div>

    <div class="dropdown fullscreen-hamburger fullscreen-mini-nav">
      <button type="button" class="navbar-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        
  <li class=""><a id="id_dashboard_link" href="/user/TaodongQTD0410/">Dashboard</a></li>
  <li class=""><a id="id_consoles_link" href="/user/TaodongQTD0410/consoles/">Consoles</a></li>
  <li class=""><a id="id_files_link" href="/user/TaodongQTD0410/files/home/TaodongQTD0410">Files</a></li>
  <li class=""><a id="id_web_app_link" href="/user/TaodongQTD0410/webapps/">Web</a></li>
  <li class=""><a id="id_tasks_link" href="/user/TaodongQTD0410/tasks_tab/">Tasks</a></li>
  <li class=""><a id="id_databases_link" href="/user/TaodongQTD0410/databases/">Databases</a></li>


        <li class=""><a href="" class="feedback_link">Send feedback</a></li>
<li class=""><a href="/forums/" class="forums_link">Forums</a></li>
<li class=""><a href="https://help.pythonanywhere.com/" class="help_link">Help</a></li>
<li class=""><a href="https://blog.pythonanywhere.com/" class="blog_link">Blog</a></li>

  
  <li class=""><a href="/user/TaodongQTD0410/account/" class="account_link">Account</a></li>
  <li class="">
    <form action="/logout/" method="POST">
      <input type='hidden' name='csrfmiddlewaretoken' value='BoRivHaNAhogUY208yZzPlg3JPTICwSmqSzRmBRq0FLq4gukbbH2ZMPgo0O1IVqK' />
      <button type="submit" class="btn-link logout_link">Log out</button>
    </form>
  </li>


      </ul>
    </div>

  </nav>



        
    


        
  <div>
    <div id="id_ide_split_panes">

      
        <div id="id_editor">&lt;!doctype html&gt;
&lt;html&gt;

&lt;head&gt;
	&lt;meta charset=&quot;utf-8&quot;&gt;
	&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, maximum-scale=1&quot;&gt;

	&lt;title&gt;Homepage&lt;/title&gt;
	&lt;link rel=&quot;icon&quot; href=&quot;../static/favicon.png&quot; type=&quot;image/png&quot;&gt;
	&lt;link rel=&quot;shortcut icon&quot; href=&quot;../static/favicon.ico&quot; type=&quot;img/x-icon&quot;&gt;

	&lt;link href=&#39;https://fonts.googleapis.com/css?family=Montserrat:400,700&#39; rel=&#39;stylesheet&#39; type=&#39;text/css&#39;&gt;
	&lt;link href=&#39;https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600&#39; rel=&#39;stylesheet&#39; type=&#39;text/css&#39;&gt;

	&lt;link href=&quot;../static/css/bootstrap.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
	&lt;link href=&quot;../static/css/style.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
	&lt;link href=&quot;../static/css/font-awesome.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
	&lt;link href=&quot;../static/css/responsive.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
	&lt;link href=&quot;../static/css/magnific-popup.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
	&lt;link href=&quot;../static/css/animate.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;

	&lt;script type=&quot;text/javascript&quot; src=&quot;../static/js/jquery.1.8.3.min.js&quot;&gt;&lt;/script&gt;
	&lt;script type=&quot;text/javascript&quot; src=&quot;../static/js/bootstrap.js&quot;&gt;&lt;/script&gt;
	&lt;script type=&quot;text/javascript&quot; src=&quot;../static/js/jquery-scrolltofixed.js&quot;&gt;&lt;/script&gt;
	&lt;script type=&quot;text/javascript&quot; src=&quot;../static/js/jquery.easing.1.3.js&quot;&gt;&lt;/script&gt;
	&lt;script type=&quot;text/javascript&quot; src=&quot;../static/js/jquery.isotope.js&quot;&gt;&lt;/script&gt;
	&lt;script type=&quot;text/javascript&quot; src=&quot;../static/js/wow.js&quot;&gt;&lt;/script&gt;
	&lt;script type=&quot;text/javascript&quot; src=&quot;../static/js/classie.js&quot;&gt;&lt;/script&gt;
	&lt;script type=&quot;text/javascript&quot; src=&quot;../static/js/magnific-popup.js&quot;&gt;&lt;/script&gt;
	&lt;script src=&quot;../static/contactform/contactform.js&quot;&gt;&lt;/script&gt;

	&lt;!-- =======================================================
    Theme Name: Knight
    Theme URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
	======================================================= --&gt;

&lt;/head&gt;

&lt;body&gt;
	&lt;header class=&quot;header&quot; id=&quot;header&quot;&gt;
		&lt;!--header-start--&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;figure class=&quot;logo animated fadeInDown delay-07s&quot;&gt;
				&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../static/img/logo.png&quot; alt=&quot;&quot;&gt;&lt;/a&gt;
			&lt;/figure&gt;
			&lt;h1 class=&quot;animated fadeInDown delay-07s&quot;&gt;Welcome To Knight Studios&lt;/h1&gt;
			&lt;ul class=&quot;we-create animated fadeInUp delay-1s&quot;&gt;
				&lt;li&gt;We are a digital agency that loves crafting beautiful websites.&lt;/li&gt;
			&lt;/ul&gt;
			&lt;a class=&quot;link animated fadeInUp delay-1s servicelink&quot; href=&quot;#service&quot;&gt;Get Started&lt;/a&gt;
		&lt;/div&gt;
	&lt;/header&gt;
	&lt;!--header-end--&gt;

	&lt;nav class=&quot;main-nav-outer&quot; id=&quot;test&quot;&gt;
		&lt;!--main-nav-start--&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;ul class=&quot;main-nav&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;#header&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#service&quot;&gt;Services&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#Portfolio&quot;&gt;Portfolio&lt;/a&gt;&lt;/li&gt;
				&lt;li class=&quot;small-logo&quot;&gt;&lt;a href=&quot;#header&quot;&gt;&lt;img src=&quot;../static/img/small-logo.png&quot; alt=&quot;&quot;&gt;&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#client&quot;&gt;Clients&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#team&quot;&gt;Team&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#contact&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
			&lt;a class=&quot;res-nav_click&quot; href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-bars&quot;&gt;&lt;/i&gt;&lt;/a&gt;
		&lt;/div&gt;
	&lt;/nav&gt;
	&lt;!--main-nav-end--&gt;



	&lt;section class=&quot;main-section&quot; id=&quot;service&quot;&gt;
		&lt;!--main-section-start--&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;h2&gt;Services&lt;/h2&gt;
			&lt;h6&gt;We offer exceptional service with complimentary hugs.&lt;/h6&gt;
			&lt;div class=&quot;row&quot; style=&quot;text-align:center&quot;&gt;
               &lt;a class=&quot;link animated fadeInUp delay-1s servicelink&quot; href=&quot;/table&quot;&gt;Get Product Price&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	&lt;!--main-section-end--&gt;



	&lt;section class=&quot;main-section alabaster&quot;&gt;
		&lt;!--main-section alabaster-start--&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;div class=&quot;row&quot;&gt;
				&lt;figure class=&quot;col-lg-5 col-sm-4 wow fadeInLeft&quot;&gt;
					&lt;img src=&quot;../static/img/iphone.png&quot; alt=&quot;&quot;&gt;
				&lt;/figure&gt;
				&lt;div class=&quot;col-lg-7 col-sm-8 featured-work&quot;&gt;
					&lt;h2&gt;featured work&lt;/h2&gt;
					&lt;P class=&quot;padding-b&quot;&gt;Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.&lt;/P&gt;
					&lt;div class=&quot;featured-box&quot;&gt;
						&lt;div class=&quot;featured-box-col1 wow fadeInRight delay-02s&quot;&gt;
							&lt;i class=&quot;fa fa-magic&quot;&gt;&lt;/i&gt;
						&lt;/div&gt;
						&lt;div class=&quot;featured-box-col2 wow fadeInRight delay-02s&quot;&gt;
							&lt;h3&gt;magic of theme development&lt;/h3&gt;
							&lt;p&gt;Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. &lt;/p&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class=&quot;featured-box&quot;&gt;
						&lt;div class=&quot;featured-box-col1 wow fadeInRight delay-04s&quot;&gt;
							&lt;i class=&quot;fa fa-gift&quot;&gt;&lt;/i&gt;
						&lt;/div&gt;
						&lt;div class=&quot;featured-box-col2 wow fadeInRight delay-04s&quot;&gt;
							&lt;h3&gt;neatly packaged&lt;/h3&gt;
							&lt;p&gt;Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. &lt;/p&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;div class=&quot;featured-box&quot;&gt;
						&lt;div class=&quot;featured-box-col1 wow fadeInRight delay-06s&quot;&gt;
							&lt;i class=&quot;fa fa-dashboard&quot;&gt;&lt;/i&gt;
						&lt;/div&gt;
						&lt;div class=&quot;featured-box-col2 wow fadeInRight delay-06s&quot;&gt;
							&lt;h3&gt;SEO optimized&lt;/h3&gt;
							&lt;p&gt;Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. &lt;/p&gt;
						&lt;/div&gt;
					&lt;/div&gt;
					&lt;a class=&quot;Learn-More&quot; href=&quot;#&quot;&gt;Learn More&lt;/a&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	&lt;!--main-section alabaster-end--&gt;



	&lt;section class=&quot;main-section paddind&quot; id=&quot;Portfolio&quot;&gt;
		&lt;!--main-section-start--&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;h2&gt;Portfolio&lt;/h2&gt;
			&lt;h6&gt;Fresh portfolio of designs that will keep you wanting more.&lt;/h6&gt;
			&lt;div class=&quot;portfolioFilter&quot;&gt;
				&lt;ul class=&quot;Portfolio-nav wow fadeIn delay-02s&quot;&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot; data-filter=&quot;*&quot; class=&quot;current&quot;&gt;All&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot; data-filter=&quot;.branding&quot;&gt;Branding&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot; data-filter=&quot;.webdesign&quot;&gt;Web design&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot; data-filter=&quot;.printdesign&quot;&gt;Print design&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href=&quot;#&quot; data-filter=&quot;.photography&quot;&gt;Photography&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/div&gt;

		&lt;/div&gt;
		&lt;div class=&quot;portfolioContainer wow fadeInUp delay-04s&quot;&gt;
			&lt;div class=&quot; Portfolio-box printdesign&quot;&gt;
				&lt;a href=&quot;../static/img/Portfolio-pic1.jpg&quot;&gt;&lt;img src=&quot;../static/img/Portfolio-pic1.jpg&quot; alt=&quot;&quot;&gt;&lt;/a&gt;
				&lt;h3&gt;Foto Album&lt;/h3&gt;
				&lt;p&gt;Print Design&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot;Portfolio-box webdesign&quot;&gt;
				&lt;a href=&quot;../static/img/Portfolio-pic2.jpg&quot;&gt;&lt;img src=&quot;../static/img/Portfolio-pic2.jpg&quot; alt=&quot;&quot;&gt;&lt;/a&gt;
				&lt;h3&gt;Luca Theme&lt;/h3&gt;
				&lt;p&gt;Web Design&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot; Portfolio-box branding&quot;&gt;
				&lt;a href=&quot;../static/img/Portfolio-pic3.jpg&quot;&gt;&lt;img src=&quot;../static/img/Portfolio-pic3.jpg&quot; alt=&quot;&quot;&gt;&lt;/a&gt;
				&lt;h3&gt;Uni Sans&lt;/h3&gt;
				&lt;p&gt;Branding&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot; Portfolio-box photography&quot;&gt;
				&lt;a href=&quot;../static/img/Portfolio-pic4.jpg&quot;&gt;&lt;img src=&quot;../static/img/Portfolio-pic4.jpg&quot; alt=&quot;&quot;&gt;&lt;/a&gt;
				&lt;h3&gt;Vinyl Record&lt;/h3&gt;
				&lt;p&gt;Photography&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot; Portfolio-box branding&quot;&gt;
				&lt;a href=&quot;../static/img/Portfolio-pic5.jpg&quot;&gt;&lt;img src=&quot;../static/img/Portfolio-pic5.jpg&quot; alt=&quot;&quot;&gt;&lt;/a&gt;
				&lt;h3&gt;Hipster&lt;/h3&gt;
				&lt;p&gt;Branding&lt;/p&gt;
			&lt;/div&gt;
			&lt;div class=&quot; Portfolio-box photography&quot;&gt;
				&lt;a href=&quot;../static/img/Portfolio-pic6.jpg&quot;&gt;&lt;img src=&quot;../static/img/Portfolio-pic6.jpg&quot; alt=&quot;&quot;&gt;&lt;/a&gt;
				&lt;h3&gt;Windmills&lt;/h3&gt;
				&lt;p&gt;Photography&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	&lt;!--main-section-end--&gt;


	&lt;section class=&quot;main-section client-part&quot; id=&quot;client&quot;&gt;
		&lt;!--main-section client-part-start--&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;b class=&quot;quote-right wow fadeInDown delay-03&quot;&gt;&lt;i class=&quot;fa fa-quote-right&quot;&gt;&lt;/i&gt;&lt;/b&gt;
			&lt;div class=&quot;row&quot;&gt;
				&lt;div class=&quot;col-lg-12&quot;&gt;
					&lt;p class=&quot;client-part-haead wow fadeInDown delay-05&quot;&gt;It was a pleasure to work with the guys at Knight Studio. They made sure we were well fed and drunk all the time!&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
			&lt;ul class=&quot;client wow fadeIn delay-05s&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;
            	&lt;div class=&quot;row&quot; style=&quot;text-align:center&quot;&gt;
               &lt;a class=&quot;link animated fadeInUp delay-05s servicelink&quot; href=&quot;/chart&quot;&gt;Get Members Info&lt;/a&gt;
			   &lt;/div&gt;
                &lt;span&gt;License To Drink Inc.&lt;/span&gt;
            &lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	&lt;!--main-section client-part-end--&gt;
	&lt;div class=&quot;c-logo-part&quot;&gt;
		&lt;!--c-logo-part-start--&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;ul&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../static/img/c-liogo1.png&quot; alt=&quot;&quot;&gt;&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../static/img/c-liogo2.png&quot; alt=&quot;&quot;&gt;&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../static/img/c-liogo3.png&quot; alt=&quot;&quot;&gt;&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../static/img/c-liogo4.png&quot; alt=&quot;&quot;&gt;&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../static/img/c-liogo5.png&quot; alt=&quot;&quot;&gt;&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!--c-logo-part-end--&gt;
	&lt;section class=&quot;main-section team&quot; id=&quot;team&quot;&gt;
		&lt;!--main-section team-start--&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;h2&gt;team&lt;/h2&gt;
			&lt;h6&gt;Take a closer look into our amazing team. We won’t bite.&lt;/h6&gt;
			&lt;div class=&quot;team-leader-block clearfix&quot;&gt;
				&lt;div class=&quot;team-leader-box&quot;&gt;
					&lt;div class=&quot;team-leader wow fadeInDown delay-03s&quot;&gt;
						&lt;div class=&quot;team-leader-shadow&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;/a&gt;&lt;/div&gt;
						&lt;img src=&quot;../static/img/team-leader-pic1.jpg&quot; alt=&quot;&quot;&gt;
						&lt;ul&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-twitter&quot;&gt;&lt;/a&gt;&lt;/li&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-facebook&quot;&gt;&lt;/a&gt;&lt;/li&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-pinterest&quot;&gt;&lt;/a&gt;&lt;/li&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-google-plus&quot;&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;/ul&gt;
					&lt;/div&gt;
					&lt;h3 class=&quot;wow fadeInDown delay-03s&quot;&gt;Walter White&lt;/h3&gt;
					&lt;span class=&quot;wow fadeInDown delay-03s&quot;&gt;Chief Executive Officer&lt;/span&gt;
					&lt;p class=&quot;wow fadeInDown delay-03s&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.&lt;/p&gt;
				&lt;/div&gt;
				&lt;div class=&quot;team-leader-box&quot;&gt;
					&lt;div class=&quot;team-leader  wow fadeInDown delay-06s&quot;&gt;
						&lt;div class=&quot;team-leader-shadow&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;/a&gt;&lt;/div&gt;
						&lt;img src=&quot;../static/img/team-leader-pic2.jpg&quot; alt=&quot;&quot;&gt;
						&lt;ul&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-twitter&quot;&gt;&lt;/a&gt;&lt;/li&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-facebook&quot;&gt;&lt;/a&gt;&lt;/li&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-pinterest&quot;&gt;&lt;/a&gt;&lt;/li&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-google-plus&quot;&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;/ul&gt;
					&lt;/div&gt;
					&lt;h3 class=&quot;wow fadeInDown delay-06s&quot;&gt;Jesse Pinkman&lt;/h3&gt;
					&lt;span class=&quot;wow fadeInDown delay-06s&quot;&gt;Product Manager&lt;/span&gt;
					&lt;p class=&quot;wow fadeInDown delay-06s&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.&lt;/p&gt;
				&lt;/div&gt;
				&lt;div class=&quot;team-leader-box&quot;&gt;
					&lt;div class=&quot;team-leader wow fadeInDown delay-09s&quot;&gt;
						&lt;div class=&quot;team-leader-shadow&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;/a&gt;&lt;/div&gt;
						&lt;img src=&quot;../static/img/team-leader-pic3.jpg&quot; alt=&quot;&quot;&gt;
						&lt;ul&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-twitter&quot;&gt;&lt;/a&gt;&lt;/li&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-facebook&quot;&gt;&lt;/a&gt;&lt;/li&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-pinterest&quot;&gt;&lt;/a&gt;&lt;/li&gt;
							&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;fa fa-google-plus&quot;&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;/ul&gt;
					&lt;/div&gt;
					&lt;h3 class=&quot;wow fadeInDown delay-09s&quot;&gt;Skyler white&lt;/h3&gt;
					&lt;span class=&quot;wow fadeInDown delay-09s&quot;&gt;Accountant&lt;/span&gt;
					&lt;p class=&quot;wow fadeInDown delay-09s&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	&lt;!--main-section team-end--&gt;



	&lt;section class=&quot;business-talking&quot;&gt;
		&lt;!--business-talking-start--&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;h2&gt;Let’s Talk Business.&lt;/h2&gt;
		&lt;/div&gt;
	&lt;/section&gt;
	&lt;!--business-talking-end--&gt;
	&lt;div class=&quot;container&quot;&gt;
		&lt;section class=&quot;main-section contact&quot; id=&quot;contact&quot;&gt;

			&lt;div class=&quot;row&quot;&gt;
				&lt;div class=&quot;col-lg-6 col-sm-7 wow fadeInLeft&quot;&gt;
					&lt;div class=&quot;contact-info-box address clearfix&quot;&gt;
						&lt;h3&gt;&lt;i class=&quot; icon-map-marker&quot;&gt;&lt;/i&gt;Address:&lt;/h3&gt;
						&lt;span&gt;308 Negra Arroyo Lane&lt;br&gt;Albuquerque, New Mexico, 87111.&lt;/span&gt;
					&lt;/div&gt;
					&lt;div class=&quot;contact-info-box phone clearfix&quot;&gt;
						&lt;h3&gt;&lt;i class=&quot;fa fa-phone&quot;&gt;&lt;/i&gt;Phone:&lt;/h3&gt;
						&lt;span&gt;1-800-BOO-YAHH&lt;/span&gt;
					&lt;/div&gt;
					&lt;div class=&quot;contact-info-box email clearfix&quot;&gt;
						&lt;h3&gt;&lt;i class=&quot;fa fa-pencil&quot;&gt;&lt;/i&gt;email:&lt;/h3&gt;
						&lt;span&gt;hello@knightstudios.com&lt;/span&gt;
					&lt;/div&gt;
					&lt;div class=&quot;contact-info-box hours clearfix&quot;&gt;
						&lt;h3&gt;&lt;i class=&quot;fa fa-clock-o&quot;&gt;&lt;/i&gt;Hours:&lt;/h3&gt;
						&lt;span&gt;&lt;strong&gt;Monday - Thursday:&lt;/strong&gt; 10am - 6pm&lt;br&gt;&lt;strong&gt;Friday:&lt;/strong&gt; People work on Fridays now?&lt;br&gt;&lt;strong&gt;Saturday - Sunday:&lt;/strong&gt; Best not to ask.&lt;/span&gt;
					&lt;/div&gt;
					&lt;ul class=&quot;social-link&quot;&gt;
						&lt;li class=&quot;twitter&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-twitter&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;facebook&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-facebook&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;pinterest&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-pinterest&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;gplus&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-google-plus&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;dribbble&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-dribbble&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/div&gt;
				&lt;div class=&quot;col-lg-6 col-sm-5 wow fadeInUp delay-05s&quot;&gt;
					&lt;div class=&quot;form&quot;&gt;

						&lt;div id=&quot;sendmessage&quot;&gt;Your message has been sent. Thank you!&lt;/div&gt;
						&lt;div id=&quot;errormessage&quot;&gt;&lt;/div&gt;
						&lt;form action=&quot;&quot; method=&quot;post&quot; role=&quot;form&quot; class=&quot;contactForm&quot;&gt;
							&lt;div class=&quot;form-group&quot;&gt;
								&lt;input type=&quot;text&quot; name=&quot;name&quot; class=&quot;form-control input-text&quot; id=&quot;name&quot; placeholder=&quot;Your Name&quot; data-rule=&quot;minlen:4&quot; data-msg=&quot;Please enter at least 4 chars&quot; /&gt;
								&lt;div class=&quot;validation&quot;&gt;&lt;/div&gt;
							&lt;/div&gt;
							&lt;div class=&quot;form-group&quot;&gt;
								&lt;input type=&quot;email&quot; class=&quot;form-control input-text&quot; name=&quot;email&quot; id=&quot;email&quot; placeholder=&quot;Your Email&quot; data-rule=&quot;email&quot; data-msg=&quot;Please enter a valid email&quot; /&gt;
								&lt;div class=&quot;validation&quot;&gt;&lt;/div&gt;
							&lt;/div&gt;
							&lt;div class=&quot;form-group&quot;&gt;
								&lt;input type=&quot;text&quot; class=&quot;form-control input-text&quot; name=&quot;subject&quot; id=&quot;subject&quot; placeholder=&quot;Subject&quot; data-rule=&quot;minlen:4&quot; data-msg=&quot;Please enter at least 8 chars of subject&quot; /&gt;
								&lt;div class=&quot;validation&quot;&gt;&lt;/div&gt;
							&lt;/div&gt;
							&lt;div class=&quot;form-group&quot;&gt;
								&lt;textarea class=&quot;form-control input-text text-area&quot; name=&quot;message&quot; rows=&quot;5&quot; data-rule=&quot;required&quot; data-msg=&quot;Please write something for us&quot; placeholder=&quot;Message&quot;&gt;&lt;/textarea&gt;
								&lt;div class=&quot;validation&quot;&gt;&lt;/div&gt;
							&lt;/div&gt;

							&lt;div class=&quot;text-center&quot;&gt;&lt;button type=&quot;submit&quot; class=&quot;input-btn&quot;&gt;Send Message&lt;/button&gt;&lt;/div&gt;
						&lt;/form&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/section&gt;
	&lt;/div&gt;
	&lt;footer class=&quot;footer&quot;&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;div class=&quot;footer-logo&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;../static/img/footer-logo.png&quot; alt=&quot;&quot;&gt;&lt;/a&gt;&lt;/div&gt;
			&lt;span class=&quot;copyright&quot;&gt;&amp;copy; Knight Theme. All Rights Reserved&lt;/span&gt;
			&lt;div class=&quot;credits&quot;&gt;
				&lt;!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Knight
        --&gt;
				Designed by &lt;a href=&quot;https://bootstrapmade.com/&quot;&gt;BootstrapMade&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/footer&gt;


	&lt;script type=&quot;text/javascript&quot;&gt;
		$(document).ready(function(e) {

			$(&#39;#test&#39;).scrollToFixed();
			$(&#39;.res-nav_click&#39;).click(function() {
				$(&#39;.main-nav&#39;).slideToggle();
				return false

			});

      $(&#39;.Portfolio-box&#39;).magnificPopup({
        delegate: &#39;a&#39;,
        type: &#39;image&#39;
      });

		});
	&lt;/script&gt;

	&lt;script&gt;
		wow = new WOW({
			animateClass: &#39;animated&#39;,
			offset: 100
		});
		wow.init();
	&lt;/script&gt;


	&lt;script type=&quot;text/javascript&quot;&gt;
		$(window).load(function() {

			$(&#39;.main-nav li a, .servicelink&#39;).bind(&#39;click&#39;, function(event) {
				var $anchor = $(this);

				$(&#39;html, body&#39;).stop().animate({
					scrollTop: $($anchor.attr(&#39;href&#39;)).offset().top - 102
				}, 1500, &#39;easeInOutExpo&#39;);
				/*
				if you don&#39;t want to use the easing effects:
				$(&#39;html, body&#39;).stop().animate({
					scrollTop: $($anchor.attr(&#39;href&#39;)).offset().top
				}, 1000);
				*/
				if ($(window).width() &lt; 768) {
					$(&#39;.main-nav&#39;).hide();
				}
				event.preventDefault();
			});
		})
	&lt;/script&gt;

	&lt;script type=&quot;text/javascript&quot;&gt;
		$(window).load(function() {


			var $container = $(&#39;.portfolioContainer&#39;),
				$body = $(&#39;body&#39;),
				colW = 375,
				columns = null;


			$container.isotope({
				// disable window resizing
				resizable: true,
				masonry: {
					columnWidth: colW
				}
			});

			$(window).smartresize(function() {
				// check if columns has changed
				var currentColumns = Math.floor(($body.width() - 30) / colW);
				if (currentColumns !== columns) {
					// set new column count
					columns = currentColumns;
					// apply width to container manually, then trigger relayout
					$container.width(columns * colW)
						.isotope(&#39;reLayout&#39;);
				}

			}).smartresize(); // trigger resize to set container width
			$(&#39;.portfolioFilter a&#39;).click(function() {
				$(&#39;.portfolioFilter .current&#39;).removeClass(&#39;current&#39;);
				$(this).addClass(&#39;current&#39;);

				var selector = $(this).attr(&#39;data-filter&#39;);
				$container.isotope({

					filter: selector,
				});
				return false;
			});

		});
	&lt;/script&gt;

&lt;/body&gt;

&lt;/html&gt;
</div>
      

      <div id="id_ide_console">
        
          <div id="id_ide_console_pane_buttons">
            <center>
              
                <p>This is not a Python file, you can't run it here.</p>
              
            </center>
          </div>
          <iframe style="display: none" id="id_console" name="console" class="soft_keyboard_sensitive">
          </iframe>
          <div style="display: none;" class="console_limit_reached">
            <div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3 well">
            <h1>Console limit reached :-/</h1>

            <p>
            With your current PythonAnywhere account you can have up to
            2 consoles.  You can
            have more if you
            <a href="/user/TaodongQTD0410/account/">upgrade your account</a>!

            <p>
            Alternatively, if you don't feel like paying us more money, you
            can <a href="/user/TaodongQTD0410/consoles/">kill some consoles on your Consoles page</a>.
        </div>
    </div>
</div>


          </div>
        
      </div>

    </div>

    <div id="id_go_to_line_dialog" class="pa_hidden">
      <p class="form-inline">Line number: <input id="id_go_to_line_dialog_input" /></p>
      <div class="dialog_buttons">
        <button class="btn btn-default" id="id_go_to_line_dialog_ok_button">Go</button>
        <button class="btn btn-default" id="id_go_to_line_dialog_close_button">Close</button>
      </div>
    </div>

    <div id="id_file_changed_on_disk" class="pa_hidden">
      <p>Are you sure you want to save it?  Alternatively, you could re-open it in a new tab to check differences</p>
      <div class="dialog_buttons">
        <button id="id_force_save" class="btn btn-danger">Force Save</button>
        <button id="id_cancel_save" class="btn btn-default">Cancel</button>
      </div>
    </div>

    <div id="id_save_as_dialog" class="pa_hidden">
      <form class="form-inline">
        <div class="form-group">
          <label for="id_save_as_path">Please enter a path:</label>
          <input id="id_save_as_path" class="form-control" style="width: 100%;" />
        </div>
        <img id="id_save_as_spinner" class="spinner pa_hidden" src="/static/anywhere/images/spinner-small.gif" />
        <p>
          <span id="id_save_as_error" class="error_message"></span>
        </p>
        <div class="dialog_buttons">
          <button id="id_save_as_ok" type="submit" class="btn btn-primary">Save</button>
          <button id="id_save_as_cancel" type="button" class="btn btn-default">Cancel</button>
        </div>
      </form>
    </div>

    <div class="modal fade" id="id_file_sharing_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">File Sharing options</h4>
          </div>
          <div class="modal-body">
            <div id="id_file_sharing_options"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>


        
      </div>

        


        <div id="id_feedback_dialog" title="Help us improve" style="display:none">
    <div id="id_feedback_dialog_blurb_big" class="dialog_blurb_big">
        It's always a pleasure to hear from you!
    </div>
    <div id="id_feedback_dialog_blurb_small">
        Ask us a question, or tell us what you love or hate about PythonAnywhere.<br/>
        We'll get back to you over email ASAP.
    </div>
    <textarea id="id_feedback_dialog_text" rows="6"></textarea>
    <input id="id_feedback_dialog_email_address" type="text" placeholder="Email address (optional - only necessary if you would like us to contact you)"/>
    
    <div id="id_feedback_dialog_error" class="pa_hidden">
        Sorry, there was an error connecting to the server. <br/>Please try again in a few moments...
    </div>
    <div class="dialog_buttons">
        <img id="id_feedback_dialog_spinner" src="/static/anywhere/images/spinner-small.gif" />
        <button class="btn btn-primary" id="id_feedback_dialog_ok_button">OK</button>
        <button class="btn btn-default" id="id_feedback_dialog_cancel_button">Cancel</button>
    </div>
</div>


        
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-18014859-6', 'auto');
                ga('send', 'pageview');
            </script>
        

        
        <!-- preload font awesome fonts to avoid glitch when switching icons -->
        <div style="width: 0; height: 0; overflow: hidden"><i class="fa fa-square-o fa-3x" ></i></div>
    </body>
</html>
